@model IEnumerable<machineinfo.Models.Machine>

@{
    ViewData["Title"] = "MachineInfo";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MachineInfo</h1>
    <p></p>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MachineId</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
