@model IEnumerable<machineinfo.Models.Machine>

@{
    ViewData["Title"] = "Machines";
}

<div>
    <a asp-controller="Machines" asp-action="Create">Create a machine</a>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MachineId</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>